# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store

## Build generated
build/
DerivedData/

## User data
xcuserdata/
xcuserdata

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Packages
Packages
xcuserdata
.swiftpm/

## xcframeworks Package
*.xcframework/